@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Fundo da página branco */
    --foreground: 0 0% 0%; /* Texto preto */
    --card: 0 0% 68%; /* Fundo dos itens da página #afacac */
    --card-foreground: 0 0% 0%; /* Texto preto para os cards */
    --hover: 24 100% 50%; /* Cor mostarda #DC5F00 para hover */
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 15%; /* Fundo da página no modo escuro */
    --foreground: 0 0% 100%; /* Texto branco no modo escuro */
    --card: 0 0% 25%; /* Fundo dos itens no modo escuro */
    --card-foreground: 0 0% 100%; /* Texto branco para os cards no modo escuro */
    --hover: 24 100% 50%; /* Cor mostarda #DC5F00 para hover */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .card {
    @apply bg-card text-card-foreground rounded-lg;
  }
  .hover-text:hover {
    @apply text-hover;
  }
}
